---
title: 67 Events - Contactez nous
---
<div id="banner_contact" class="text-center">

</div>
<div id="contact" class="text-center">
<h2> Vous souhaitez nous contacter ?</h2><br>

  <div class="text-justify">
   <form>
    <div class="form-group">
    <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> M.
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Mme.
      </label>
    </div>

      <div class="form-group">
        <label for="exampleInputName1">Votre nom </label>
        <input type="name" class="form-control" id="exampleInputPassword1" placeholder="ex: Arnold">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Votre adresse mail </label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ex: 67events@email.com">
      </div>
      <div class="form-group">
        <label for="exampleInputTextarea"> Vos questions / commentaires</label>
        <textarea class="form-control" rows="5" placeholder="ex : Quand est ce que les cours de zumba commence ?"></textarea>
      </div>
      <button type="submit" class="btn btn-default">
        Envoyez
      </button>
    </form>
  </div>
</div>

<div class="text-center">
  <h2> Où nous trouver ?</h2>
  <p> 91 route des romains -
67200 STRASBOURG</p>
<br>
<br>
</div>

<!-- Map -->
<div id="map" style="width: 100%; height: 400px;"></div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <script type="text/javascript">
    var myLatlng = new google.maps.LatLng(48.5785429,7.709766700000046);

    var myOptions = {
      zoom: 16,
      center: myLatlng,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [] // TODO: replace [] by array from https://snazzymaps.com/
    };

    var map = new google.maps.Map(document.getElementById('map'), myOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: "You are here!"
    });
  </script>