<div class="header-zone">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-2">
        <div class="thumbnails">
          <h3>Zumba</h3>
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
        <div class="thumbnails">
          <h3>Salsa</h3>
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
        <div class="thumbnails">
          <h3>Bachata</h3>
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
        <div class="thumbnails">
          <h3>Hip Hop</h3>
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
        <div class="thumbnails">
          <h3>Dancehall</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body-zone">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnails">
          <h3>Zumba</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body-zone-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnails">
          <h3>Salsa</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body-zone-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnails">
          <h3>Bachata</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body-zone">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnails">
          <h3>Hip Hop</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body-zone-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnails">
          <h3>Dancehall</h3>
        </div>
      </div>
    </div>
  </div>
</div>
