<div class="header-zone">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnails">
          <h2>Zumba</h2>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnails">
          <h2>Salsa</h2>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnails">
          <h2>Bachata</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body-zone">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnails">
          <h2>Zumba</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body-zone-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnails">
          <h2>Salsa</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body-zone-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnails">
          <h2>Bachata</h2>
        </div>
      </div>
    </div>
  </div>
</div>