---
title: 67 Events
---

<div id="banner" class="text-center">

  <h1> 67 EVENTS</h1>
    <br>
    <br>
      <p> 91 route des romains - 67200 STRASBOURG </p>
      <p>67eventstg@gmail.com</p>
    <br>
      <button type="button" class="btn btn-default btn-lg">
        <% link_to "/contacts.html" do %>
        <i class="fa fa-envelope-o fa-lg"></i> Contactez nous
      <% end %>
  </button>
</div>