---
title: 67 Events
---

<div id="banner" class="text-center">

  <%= image_tag("logo67events.png") %>
    <br>
    <br>
      <p> 91 route des romains - 67200 STRASBOURG </p>
      <p>67eventstg@gmail.com</p>
    <br>
      <button type="button" class="btn btn-default btn-lg">
        <% link_to "/contacts.html" do %>
        <i class="fa fa-envelope-o fa-lg"></i> Contactez nous
      <% end %>
  </button>
</div>

<div class="box">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-12">
        <p>
          Situé à 5 minutes de la gare de Strasbourg et à 10 minutes du centre-ville en voiture, « 67 EVENTS » vous propose un cadre idyllique de 270m2 avec deux grands parkings.
        </p>
        <br>
        <h4>
          67 EVENTS c’est :
        </h4>
        <br>
        <p>
          • Des cours de danse tout public : KIZOMBA, SALSA, BACHATA, DANCEHALL, HIP HOP, AFROHOUSE et AFRO BEAT,
          <br>
          • La conception, l'organisation, la commercialisation et la réalisation de soirées thématiques, de shows,
           <br>
          • La mise à disposition de locaux à destination de tout public pour le déroulement d'évènements divers (mariage, conférence, anniversaire, réunion, activité d’entreprises).
        </p>
      </div>
    </div>
  </div>
</div>